{% extends 'base.html.twig' %}

{% block title %}Bibliographie index{% endblock %}

{% block body %}

    <h1>Bibliographie index</h1>
   {% if is_granted('ROLE_ADMIN') %}
    <div>
        <h2>Create new Bibliographie</h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}
    </div>
{% else %}
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4LAv7vICp7RHIrWd0wNanjmWxc55AcIjb5MuL7isIUHv7f66aR5CIQn4l32ksl8jZ63E&usqp=CAU" alt="" style="margin-bottom: 15px">
    {% endif %}

    <table class="table">
        <thead>
            <tr>

                <th>Name</th>
                <th>Url</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th>actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for bibliographie in bibliographies %}
            <tr>
                <td>{{ bibliographie.name }}</td>
                <td><a href="{{ bibliographie.url }}">{{ bibliographie.url }}</a></td>
                {% if is_granted('ROLE_ADMIN') %}
                <td>
                    <a href="{{ path('app_bibliographie_show', {'id': bibliographie.id}) }}">show</a>
                    <a href="{{ path('app_bibliographie_edit', {'id': bibliographie.id}) }}">edit</a>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
